body{
background: #F3F5FC; 
font-family:'Inter', sans-serif;
position: relative;
width: 1440px;
height: 1024px;
font-weight:400;
line-height:1,6;
}

.logo{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;
position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;
}

.textDigitado{
position: absolute;
width: 480px;
height: 200px;
left: 240px;
top: 168px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 1.6;
color: #0A3871;
resize: none;
border-radius: 20px;

}

.regras{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
font-size:12px;
position: absolute;
width: 252px;
height: 18px;
left: 240px;
top: 851px;
}

.botoes{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
gap: 24px;
position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;
}

.btnCriptografar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btnDesencriptografar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    color: #0A3871;
    cursor: pointer;
}

.botaoCopiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 8px;  
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    display: inline-block;
}

.btnCopiar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    color: #0A3871;
    cursor: pointer;
    display: none;
}

.textCodigo{
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 1.6;
color: #0A3871;
resize: none;
}

.boneco{
position: absolute;
width: 336px;
height: 450px;
left: 1032px;
top: 283px;
background-image: url(img/boneco.png);
background-repeat: no-repeat;
display: inline-block;
flex-direction: column;
}

.caixaTexto{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 150px;
    left: 1032px;
    top: 619px;
}

.boneco>h1{
width: 336px;
height: 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #343A40;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#bonecoTexto{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.rodape{
    position: absolute;
    top: 1025px;
    width: 1440px;
    height: 68px;
    padding: 28px;
    display: inline;
    }

.direitosAutorais{
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 10px;
    left: 400px;
}

.imagemRodape{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 700px;
    margin-top: 35px;
    cursor: pointer;
}

